body{
    margin: 0;
    padding: 0;
    background-color: rgb(224, 181, 216);
}

h1{
    background-color: rgb(127, 161, 125);
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 20px;
    text-align: center;
}

.conteudo
{
    margin: 20px auto;
    border: 1px solid #960000;
    width: 500px;
    padding: 20px;
    box-shadow: 0 10px gray;
}
.conteudo p
{
    font-size: 20px;
    text-align: justify;
}
input[type=text], input[type=number]
{
    width: 100px;
    padding: 5px;
    box-sizing: border-box;
}
